{% extends "users/friend_requests.html" %}

{% block friend_requests_content %}
<div class="container">
    <h1>sent Friend Requests</h1>
    <ul class="list-group">
        {% for request in sent_requests_pending %}
        <a href="{%url 'profile' request.to_user.id %}">
        <img class="rounded-circle account-img" src="{{ request.to_user.profile_personal_info.image_pic.url}}"> 
        <div class="media-body">
              
          
          <h2 class="account-heading">{{request.to_user.profile_personal_info.firstname}} {{request.to_user.profile_personal_info.lastname}}</h2>
          
          <p class="text-secondary">from {{request.to_user.profile_personal_info.city}},{{request.to_user.profile_personal_info.state}} </p>
          <p class="text-secondary">{{request.to_user.profile_personal_info.profile_educational_and_career_info.occupation}}</p>
          <p class="text-secondary">caste:{{request.to_user.profile_personal_info.profile_family_details.caste}}</p>
        </div>
        
        <p><b> {{request.to_user.profile_personal_info.firstname}} haven't yet accepted your request</b></p><hr>
      </a>
        {% endfor %}
    </ul>
    <ul class="list-group">
        {% for request in sent_requests_declined %}
        <a href="{%url 'profile' request.to_user.id %}">
        <img class="rounded-circle account-img" src="{{ request.to_user.profile_personal_info.image_pic.url}}"> 
        <div class="media-body">
              
          
          <h2 class="account-heading">{{request.to_user.profile_personal_info.firstname}} {{request.to_user.profile_personal_info.lastname}}</h2>
          
          <p class="text-secondary">from {{request.to_user.profile_personal_info.city}},{{request.to_user.profile_personal_info.state}} </p>
          <p class="text-secondary">{{request.to_user.profile_personal_info.profile_educational_and_career_info.occupation}}</p>
          <p class="text-secondary">caste:{{request.to_user.profile_personal_info.profile_family_details.caste}}</p>
        </div>
        
        <p><b> {{request.to_user.profile_personal_info.firstname}} declined your friend request</b></p><hr>
      </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
