{%extends 'users/base.html' %}

{%block content%}
<div class='content-section'>
    <form method="POST" >
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">profile Info</legend>
          {{ form4.as_p }}
      </fieldset>
      <div class="form-group">
          <button type="submit" class="btn btn-outline-info"> update </button>
      </div></form>    
          <hr>
          <div><button type="button" class="btn btn-outline-info"><a href="{%url 'updateform1'%}">  &nbsp;edit personal details</a></button></div>
          <span><button type="button" class="btn btn-outline-info"><a href="{%url 'updateform2'%}">  &nbsp;edit educational details</a></button></span>
          <span><button type="button" class="btn btn-outline-info"><a href="{%url 'updateform3'%}">  &nbsp;edit family details</a></button></span>
  </div>
  {%endblock%}